In [1]:
## importing the required packages
from time import time
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import offsetbox
from sklearn import (manifold, datasets, decomposition, ensemble,
            discriminant_analysis, random_projection)

In [1]:
import geopandas as gpd

In [2]:
dat = gpd.read_file("/home/philipp/Code/python/edin_prediction/test/pred_deeplab_adj_age_3200.shp")

In [3]:
dat

        DF                                           geometry
0        3  POLYGON ((434722.181 372899.950, 434722.981 37...
1        3  POLYGON ((434852.581 372903.150, 434858.381 37...
2        3  POLYGON ((435207.581 372886.550, 435207.781 37...
3        3  POLYGON ((434723.181 372879.550, 434723.981 37...
4        3  POLYGON ((435361.581 372874.950, 435361.781 37...
...     ..                                                ...
131119   0  POLYGON ((421347.981 350722.950, 421348.581 35...
131120   2  POLYGON ((421147.581 350723.150, 421150.781 35...
131121   3  POLYGON ((423163.581 354597.950, 423174.781 35...
131122   3  POLYGON ((421179.781 350720.950, 421180.381 35...
131123   2  POLYGON ((421444.981 351132.150, 421446.181 35...

[131124 rows x 2 columns]

In [4]:
dat['geometry'] = dat.translate(xoff=10.0, yoff=-10.0)

In [5]:
dat

        DF                                           geometry
0        3  POLYGON ((434732.181 372889.950, 434732.981 37...
1        3  POLYGON ((434862.581 372893.150, 434868.381 37...
2        3  POLYGON ((435217.581 372876.550, 435217.781 37...
3        3  POLYGON ((434733.181 372869.550, 434733.981 37...
4        3  POLYGON ((435371.581 372864.950, 435371.781 37...
...     ..                                                ...
131119   0  POLYGON ((421357.981 350712.950, 421358.581 35...
131120   2  POLYGON ((421157.581 350713.150, 421160.781 35...
131121   3  POLYGON ((423173.581 354587.950, 423184.781 35...
131122   3  POLYGON ((421189.781 350710.950, 421190.381 35...
131123   2  POLYGON ((421454.981 351122.150, 421456.181 35...

[131124 rows x 2 columns]

In [6]:
dat.to_file("/home/philipp/Code/python/edin_prediction/test/pred_deeplab_adj_age_3200.shp")